section{
    margin: 0 auto;
    max-width: 1200px;
  }
  .platform-name {
    padding: 3rem 0;
  }
  h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 800;
  }
  .disney-movie{
    margin-top: 3rem;
  }
  @media screen and (max-width:767px) {
    section{
      margin: 90px 20px;
    }
    .platform-name{
      padding: 0;
    }
    h2{
      font-size: 25px;
      font-weight: 800;
      text-align: left;
    }
    .disney-movie{
      margin-top: 2rem;
    }
    .all-movies{
      padding-top: 35px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1265px) {
    section{
      margin: 50px 20px;
    }
  }