<section class="platform-movie">
  <div class="platform-search">
      <h2 class="tag-name">Platformdaki Filmler</h2>
      <div>
          <input type="text" placeholder="Platformdaki filmleri Arayın" />
          <button class="button-with-image">
              <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
          </button>
      </div>
  </div>
  <div class="all-movies">
    <div class="netflix-movie">
      <netflix-movie></netflix-movie>
    </div>
    <div class="disney-movie">
      <disney-movie></disney-movie>
    </div>
  </div>
</section>