section{
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    position: relative;
  }
  .platform-name {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
  }
  
  .disney-movie{
    margin-top: 3rem;
  }
  