<section>
    <form [formGroup]="createForm" (ngSubmit)="create()">
      <div class="create">
        <div class="card">
          <div class="close">
            <button routerLink="/Admin/Class-List">X</button>
          </div>
          <div class="create-header">
            <h2>Platform Ekleme</h2>
          </div>
          <div class="create-main">
            <div class="create-contents">
              <div class="label-input">
                <label for="platformName">Platform Adı</label>
                <input type="text" placeholder="Platform adını yazınız" formControlName="name"/>
              </div>
            </div>
            <div class="create-button">
              <button type="submit">Platform Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  