section {
  max-width: 1300px;
  margin: auto;
}

.movie-header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-header h2 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
}

.movie-search {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

input {
  background: transparent;
  border: 1px solid #ffc303;
  border-radius: 25px;
  width: 350px;
  height: 50px;
  padding: 0 25px;
  font-weight: 600;
  color: #fff;
}
input::placeholder{
  color: #fff;
}
input:focus {
  outline: none;
}

.movie-search i {
  position: absolute;
  top: 50%;
  right: 15px;
  cursor: pointer;
  color: #fff;
}

.movie-category {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3rem;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
li {
  display: block;
  margin-right: 30px;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}
li:hover .movies-details{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #1e1e1e;
  height: 100%;
  z-index: 1000;
  transition: .5s;
  overflow: hidden;
  overflow-y: auto;
}

.movies-name {
  font-size: 20px;
  font-weight: 800;
}