<section>
  <div class="movies-header">
    <h2>Vizyondaki Filmler</h2>
    <app-search [filterText]="filterText" (filterTextChange)="filterText = $event"></app-search>
  </div>
  <div class="movies-category">
    <category-filter (categorySelected)="onCategorySelected($event)"></category-filter>
  </div>
  <ng-container
    *ngIf="(movies | filter: filterText: filterName | categoryFilter:selectedCategory).length > 0; else noResults">
    <ul>
      <app-card [movies]="movies | filter: filterText: filterName | categoryFilter:selectedCategory"></app-card>
    </ul>
  </ng-container>
  <ng-template #noResults>
    <div class="no-filter">
      Ne yazık ki arama kriterine uygun film bulunmuyor.
    </div>
  </ng-template>
</section>