<section class="movie">
    <div class="movies-search">
      <h2>Vizyondaki Filmler</h2>
      <div>
        <input type="text"  placeholder="Vizyondaki Filmleri Arayın" [(ngModel)]="filterText"/>
        <button class="button-with-image">
          <i
            class="fa-solid fa-magnifying-glass fa-lg"
            style="color: #000000"
          ></i>
        </button>
      </div>
    </div>
    <div class="category-filter">
      <category-filter (categorySelected)="onCategorySelected($event)"></category-filter>
    </div>
      <div class="movie-list-card">
        <div class="movie-box" *ngFor="let movie of movie | filter: filterText: filterName | dateMovieFilter:'visionMovies'">
          <figure>
            <a class="movie-details"></a>  
                <img [src]="movie.movieImages | imageArray:0" alt="Photo">
          </figure>
          <div class="movie-box-text">
            <div class="movie-box-contents">
              <h2>{{ movie.name }}</h2>
              <h3>Yönetmenler: 
                  {{ movie.directors | joinArray:', ' : 'name'}}   
              </h3>
              <p>{{ movie.players | joinArray:', ' : 'name' }}   </p>
            </div>
            <div class="movie-box-time">
              <ul>
                <li>
                  <span>{{movie.movieTime}} dk.</span>
                </li>
                <li>
                  <span >{{ movie.categoryName}}</span>
                </li>
              </ul>
            </div>
            <div class="movie-box-link">
              <button [routerLink]="'/Filmler/Detay/' + movie.id">Detay Sayfası</button>
  
            </div>
          </div>
        </div>
      </div>
  </section>
  