<section>
  <div class="spinner">
    <ngx-spinner size="large">Sayfa Yükleniyor</ngx-spinner>
  </div>
  <div class="movie-header">
    <h2>Vizyondaki Filmler</h2>
    <div class="movie-search">
      <input type="text" placeholder="Film ara..." [(ngModel)]="filterText" />
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    </div>
  </div>
  <div class="movie-category">
    <category-filter (categorySelected)="onCategorySelected($event)"></category-filter>
  </div>
  <div class="movie-main">
    <ul>
      <li *ngFor="let movie of movies">
        <div class="movies-img">
          <img [src]="movie.movieImages | imageArray:0">
          <div class="overlay">
            <button class="detail-button" [routerLink]="'/Filmler/Detay/' + movie.id">Film Detayı</button>
          </div>
        </div>
        <div class="movies-details">
          <div class="movies"
          <span class="movies-name">{{movie.name}}</span>
          <p class="class-category">
            <span class="movies-category">{{movie.categoryName}}</span>
          </p>
          <p class="class-date">
            <i class="fa-regular fa-calendar-days"></i>
            <span class="movies-date">{{movie.releaseDate}}</span>
          <p>
        </div>
      </li>
    </ul>
  </div>
</section>