
.popular-vision {
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .popular-header {
    padding: 3rem 0 2rem;
  }
  
  .popular-header h2 {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width:767px) {
    .popular-header {
      padding: 1rem 20px;
    }
  
    .popular-header h2 {
      font-size: 25px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1300px) {
    .popular-header {
      padding: 2rem 20px 1rem;
    }
  }