@media screen and (max-width:767px) {
    .movies-header {
        display: block;
        text-align: center;
        padding: 0;
    }

    .movies-header h2 {
        font-size: 25px;
        font-weight: 800;
        text-align: left;
        margin-bottom: 15px;
    }

    .movies-search {
        display: inline-flex;
        justify-items: center;
        margin-bottom: 25px;
    }

    .movies-category {
        display: inline-flexbox;
        justify-content: center;
        padding: 0;
        margin-bottom: 35px;
    }

    input {
        border: 1px solid #505050;
        width: 300px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    section {
        margin: 50px 20px;
    }

    li {
        display: block;
        margin: 0 20px 20px 0;
        color: #fff;

    }
}