.container{
    width: 50%;
    text-align: center;
    padding-bottom: 40px;
    background: 0 0;
  }
  .footer-content{
    background: #fff;
    padding: 27px 0;
    border-radius: 15px;
  }
  p{
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #828bb2;
    font-weight: 300;
  }
  @media only screen and (max-width: 768px){
    .container {
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
  }
  }
  