<section>
  <div class="movie-list">
    <h1>Film Listesi</h1>
    <div class="centered-overlay" *ngIf="photoComponent">
      <movie-photo [movieId]="selectedMovieId"></movie-photo>
    </div>
    <div class="movie-search-button-container">
      <div class="movie-search">
        <input placeholder="Film Ara" [(ngModel)]="filterText" />
      </div>
      <div class="movie-create-button">
        <button [routerLink]="['Create-Movie']">+ Film Ekle</button>
      </div>
    </div>
    <div class="table-wrapper">
      <table class="lg-table" *ngIf="(movie | filter: filterText:'name').length > 0; else noResults">
        <thead>
          <tr>
            <th>Film Adı</th>
            <th>Film Kategori</th>
            <th>Film Platform</th>
            <th>Vizyon Tarihi</th>
            <th>Kadro İşlemleri</th>
            <th>Fotoğraf İşlemleri</th>
            <th>Film İşlemleri</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movie | filter: filterText: filterName">
            <td>{{ movie.name | limitTo:15}}</td>
            <td>{{ movie.categoryName }}</td>
            <td>{{ movie.platformName }}</td>
            <td>{{ movie.releaseDate }}</td>
            <td>
              <i class="fa-solid fa-square-minus fa-lg actor" [routerLink]="['Create-Players', movie.id]"></i>
              <i class="fa-solid fa-square-minus fa-lg director" [routerLink]="['Create-Director', movie.id]"></i>
            </td>
            <td><i class="fa-solid fa-image fa-lg" (click)="photoContents(movie.id)"></i></td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-lg update" [routerLink]="['Edit', movie.id]"></i>
              <i class="fa-solid fa-trash fa-lg delete" (click)="deleteMovie(movie.id)"></i>
            </td>
          </tr>
        <tbody>
      </table>
      <ng-template #noResults>
        <div class="error">
          <p>Aranılan Film Bulunamadı: "{{filterText}}".</p>
        </div>
      </ng-template>
    </div>
  </div>
</section>