.movie-list {
  margin: 5rem 8rem;
}
.movie-list h1 {
  font-weight: 800;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  width: 100%; /* Genişliği tam genişlik yaparak hizalamayı sağlar */
}
.table-wrapper{
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.movie-search-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.movie-search input {
  color: #fff;
  width: 250px;
  height: 50px;
  line-height: 50px; 
  border: 1px solid #a7a3a3;
  padding: 0 0 0 20px;
  background: transparent;
  outline: none;
  border-radius: 5px;
}

.movie-create-button button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #949292;
  padding: 0 20px; 
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  line-height: 50px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}
.movie-create-button button:hover {
  background-color: #ccc; 
  color: #fff; 
}
.lg-table {
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  color: #fff;
  table-layout: fixed;
  border-collapse: collapse;
}
.lg-table td, .lg-table th {
  text-align: center;
  padding: 8px;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  white-space: nowrap;
  overflow: hidden;
}


.lg-table thead th {
  background-color: rgba(1, 19, 9, 0.8);
  white-space: normal;
  font-weight: bold;
  font-size: 1em;
}

.lg-table tr{
  background-color: rgba(94, 94, 94, 0.4);
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease;
}
i{
  margin: 0 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .movie-list {
    margin: 0 2rem;
    padding-bottom: 5rem;
  }
  .lg-table {
    display: block;
    flex-direction: column; /* Change to display columns */
    font-size: 14px;
    border: 1px solid #4c4c4d;
  }
  .movie-list h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .movie-search input {
    width: 150px;
    height: 40px;
    line-height: 30px;
    padding: 0 10px;
  }
  .movie-create-button button {
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
  }
  .image-src {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .lg-table td,
  .lg-table th {
    padding: 20px 0.625em 20px 0.625em; /* Remove horizontal padding */
    height: auto; /* Adjust height */
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%; /* Full width */
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .lg-table thead th {
    text-align: center;
  }
  .lg-table tbody tr {
    border: 1px solid #4c4c4d;
  }
  .lg-table tbody tr:nth-child(odd) {
    background: none;
  }
  .lg-table tr:nth-child(even) {
    background: transparent;
  }
}
