.upload-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-header {
    color: #424040;
    padding: 2rem;
    text-align: start;
}

.upload-header h1 {
    font-weight: 800;
    color: #2e4765;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    width: 100%;
}

.upload-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 40rem;
    padding: 2rem;
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #2ea57d;
    border-radius: 40px;
    margin-bottom: 2rem;
}

.upload-icon img {
    width: 80px;
    height: 80px;
    margin-top: 2rem;
}

.upload-content {
    text-align: center;
    margin: 1rem 0;
}

.upload-files-text {
    color: #2ea57d;
    cursor: pointer;
    font-weight: 800;
}

.upload-message {
    font-weight: 700;
}

.label {
    font-size: 20px;
}

.upload-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.upload-button {
    background-color: #2ea57d;
    color: #f7fff7;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 7.5px 50px;
    cursor: pointer;
    outline: none;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-preview img {
    width: 250px;
    height: 200px;
}

.table {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 2rem;
}

thead, tbody {
    text-align: center;
}

td {
    vertical-align: middle;
    padding: 10px 20px;
}

.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.images {
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    text-align: center;
    position: relative;
}

.images img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

p {
    margin-top: 10px;
}

.images i {
    position: absolute;
    top: 0;
    right: -5px;
    cursor: pointer;
}

.upload-cancel {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.upload-cancel i {
    color: #1d5e48;
}

@media (max-width: 767px) {
    .upload-container {
        background-color: transparent;
        background-color: #fff;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem 0;
        margin-bottom: 2rem;
    }

    .upload-area {
        color: #0e0d0d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        border: 3px dashed #2ea57d;
        border-radius: 20px;
        margin-bottom: 1rem;
    }

    .upload-icon img {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .upload-content {
        text-align: center;
        margin: 0.5rem 0;
    }
    .image-preview{
        padding: 0 10px;
    }
    .upload-files-text,
    label {
        font-size: 16px;
    }

    .upload-submit {
        margin-bottom: 1rem;
    }

    .upload-button {
        padding: 5px 20px;
        outline: none;
    }

    .table {
        display: block;
        overflow-x: auto;
    }
    
    .table td,
    .table th {
        padding: 10px;
        height: auto;
        width: auto;
        vertical-align: middle;
        box-sizing: border-box;
        font-size: 14px;
        white-space: nowrap;
        text-align: center; /* Center align content horizontally */
    }
    
    .table thead {
        display: none;
    }
    
    .table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 5px;
        justify-content: center; /* Center align content horizontally */
    }
    
    .table tbody tr td {
        margin: 0.5rem 0.5rem;
    }

    .btn.btn-dark.btn-xs {
        font-size: 14px;
        padding: 5px 10px;
    }
}
