<form #photoForm="ngForm" (ngSubmit)="onUpload()">
<div class="upload-photo">
    <div class="upload-card">
        <div class="upload-header">
            <h1>Fotoğraf Yükleme</h1>
        </div>
        <div class="upload-container">
            <div class="upload-area" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <div class="upload-icon">
                    <img src="assets/img/upload_img.png">
                </div>
                <div class="upload-content">
                    <h3 class="upload-message">Bir dosyayı sürükleyip bırakın</h3>
                    <label class="label" for="fileInput"> veya
                        <span class="upload-files">
                            <input 
                            name="file" #files
                            style="display: none;" 
                            type="file"
                            id="fileInput"
                            multiple
                            (change)="onFileSelected($event)"
                            accept="image/*" />
                            <span class="upload-files-text">dosya seçin</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="upload-submit">
                <button class="upload-button" type="submit">Ekle</button>
            </div>
            <ul class="image-preview" >
                <li class="images" >
                    <img />
                    <i class="fa-solid fa-xmark fa-xl"></i>
                    <p></p>
                </li>

            </ul>
        </div>
    </div>
</div>
</form>