
<form #photoForm="ngForm" (ngSubmit)="onUpload()">
    <div class="upload-photo">
        <div class="upload-card">
            <div class="upload-container">
                <div class="upload-area" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)">
                    <div class="upload-icon">
                        <img src="assets/img/upload_img.png">
                    </div>
                    <div class="upload-content">
                        <ng-container *ngIf="selectedFiles.length > 0; else noPhotos">
                            <h3 class="upload-message"> {{ selectedFiles.length }} Fotoğraf Eklendi</h3>
                        </ng-container>
                        <ng-template #noPhotos>
                            <h3 class="upload-message">Bir dosyayı sürükleyip bırakın</h3>
                        </ng-template>
                        <label class="label" for="fileInput"> veya
                            <span class="upload-files">
                                <input id="fileInput" type="file" (change)="onFileSelected($event)" multiple
                                    style="display: none;">
                                <span class="upload-files-text">dosya seçin</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="upload-submit">
                    <button class="upload-button" type="submit">Ekle</button>
                </div>
                <div class="image-files" *ngIf="selectedFiles.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ad</th>
                                <th>Boyut</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let image of selectedFiles; let i = index">
                            <tr>
                                <td>
                                    {{ image.name | limitTo:24 | titlecase }}
                                </td>
                                <td>
                                    {{ image.size/1024/1024 | number:'.2' }} MB
                                </td>
                                <td>
                                    <button type="button" class="btn btn-dark btn-xs" (click)="removePhoto(i)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Kaldır
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="image-preview" *ngFor="let item of getPhoto">
                    <div class="images" *ngFor="let photo of item.photos">
                        <img [src]="photo.path">
                        <p>{{photo.fileName | titlecase}}</p>
                        <i class="fa-solid fa-xmark fa-xl" (click)="deletePhoto(photo.id)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
