body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/12/3d/e1/123de1b9ddfcb4e843499dacb586b31d.jpg");
}
main {
  display: flex;
  align-items: stretch;
  height: 100%;
  backdrop-filter: blur(30px);
}
.side-menu{
  flex: 0 0 auto;
}
.details{
  flex: 1;
}
.left-menu {
  background-color: rgba(1, 19, 9, 0.8);
  height: 100vh;
  width: 350px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}
.left-header {
  text-align: center;
}
.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.user-img img {
  width: 150px;
  height: 150px;
}
.name {
  margin-top: 20px;
  color: #ccc;
  font-weight: 600;
}
.left-header p {
  color: #ccc;
  font-size: 18px;
}
ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}
.main-contents {
  color: #ccc;
}
.line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
li {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 80px;
  text-align: center;
  display: flex;
  align-items: center;
}
li:hover {
  color: #2ea57d;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit; /* Tıklandığında da var olan renkleri kullanmak için */
}
i {
  margin-right: 20px;
}
.left-bottom {
  position: fixed;
  bottom: 20px;
  right: 0;
}
.active{
  border-right: 15px solid rgba(46, 165, 125, 0.5);
}
.active-link{
  border-right: 15px solid rgba(46, 165, 125, 0.5);
}
.fa-lg, .fa-xl{
  color: #ccc
}

