<section>
  <form [formGroup]="platformForm">
    <div class="platform-list">
      <h1>Platform Listesi</h1>
      <div class="platform-button-container">
        <div class="platform-create-button">
          <button (click)="showCreateForm()">+ Platform Ekle</button>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="lg-table">
          <thead>
            <tr>
              <th>Platform Adı</th>
              <th>Platform İşlemleri</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let platform of platform">
                <td>
                  <ng-container *ngIf="editPlatformId !== platform.id; else editMode">
                    {{ platform.name }}
                  </ng-container>
                  <ng-template #editMode>
                    <input formControlName="name" type="text"[value]="platform.name" [readonly]="isPlatformNameReadOnly"/>
                  </ng-template>
                </td>
                  <td class="movie-icon">
                    <i class="fa-solid fa-pen-to-square fa-lg" (click)="update(platform.id)" *ngIf="platform.id !== editPlatformId"></i>
                    <i class="fa-solid fa-trash fa-lg" (click)="deletePlatform(platform.id)" *ngIf="platform.id !== editPlatformId"></i>
                    <i class="fa-solid fa-check fa-lg" (click)="saveChanges(platform.id)" *ngIf="platform.id === editPlatformId"></i>
                    <i class="fa-solid fa-xmark fa-lg" (click)="cancelEdit()" *ngIf="platform.id === editPlatformId"></i>
                  </td>
                </tr>
            <tr *ngIf="showCreateFormFlag">
              <td>
                <input [(ngModel)]="newPlatformName" formControlName="name"  placeholder="Platform Adı">
              </td>
              <td>
                <i class="fa-solid fa-check fa-lg" (click)="create()"></i>
                <i class="fa-solid fa-xmark fa-lg" (click)="cancelCreateForm()"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>

