<section>
  <form #platformForm="ngForm">
    <div class="platform-list">
      <h1>Platform Listesi</h1>
      <div class="platform-button-container">
        <div class="platform-create-button">
          <button (click)="showCreateForm()">+ Platform Ekle</button>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="lg-table">
          <thead>
            <tr>
              <th>Platform Adı</th>
              <th>Platform İşlemleri</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let platform of listPlatform">
              <td>
                <ng-container *ngIf="editPlatformId !== platform.id; else editMode">
                  {{ platform.name }}
                </ng-container>
                <ng-template #editMode>
                  <input name="platformName" type="text" #platformName="ngModel" [(ngModel)]="updatedPlatform.name" (keydown.enter)="$event.preventDefault()"/>
                </ng-template>
              </td>
              <td class="movie-icon">
                <i class="fa-solid fa-pen-to-square fa-lg" (click)="showUpdateForm(platform.id)" *ngIf="platform.id !== editPlatformId"></i>
                <i class="fa-solid fa-trash fa-lg" (click)="deletePlatform(platform.id)" *ngIf="platform.id !== editPlatformId"></i>
                <i class="fa-solid fa-check fa-lg" (click)="updatePlatform(platform.id, 'check')" *ngIf="platform.id === editPlatformId"></i>
                <i class="fa-solid fa-xmark fa-lg" (click)="updatePlatform(platform.id, 'cancel')" *ngIf="platform.id === editPlatformId"></i>
              </td>
            </tr>
            <tr *ngIf="showCreateFormFlag === true">
              <td>
                <input [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Platform Adı" (keydown.enter)="$event.preventDefault()">
              </td>
              <td>
                <i class="fa-solid fa-check fa-lg" (click)="createPlatform()"></i>
                <i class="fa-solid fa-xmark fa-lg" (click)="showCreateForm()"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
