<nav class="navbar">
  <div class="header-content">
    <div class="header-logo" routerLink="/Filmler">
      <img src="assets/img/common/filmverse.png" />
    </div>
  </div>
  <ul class="nav-links sidebar">
    <li>
      <a routerLink="Vizyondakiler">
        <i class="fa-solid fa-film fa-lg"></i>
        <span>Vizyondakiler</span>
      </a>
    </li>
    <li>
      <a routerLink="Platformdakiler">
        <i class="fa-solid fa-clapperboard fa-lg"></i>
        <span>Platformdakiler</span>
      </a>
    </li>
    <li>
      <a routerLink="Yaklasanlar">
        <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal fa-lg"></i>
        <span>Yaklaşanlar</span>
      </a>
    </li>
    <li>
      <a routerLink="Haberler">
        <i class="fa-regular fa-newspaper fa-lg"></i>
        <span>Haberler</span>
      </a>
    </li>
    <li>
      <a routerLink="Hakkımızda">
        <i class="fa-solid fa-circle-info fa-lg"></i>
        <span>Hakkımızda</span>
      </a>
    </li>
    <li>
      <a routerLink="Iletisim">
        <i class="fa-solid fa-phone-volume fa-lg"></i>
        <span>İletişim</span>
      </a>
    </li>
  </ul>
  <div class="user">
    <a routerLink="Giriş">
      <i class="fa-solid fa-house-user fa-lg"></i>
      <span>Giriş Yap</span>
    </a>
  </div>
</nav>