.navbar {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    height: 80px;
    display: flex;
    align-items: center;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
  }

  .menu-toggle {
    display: none;
  }

  .header-logo img {
    max-width: 200px;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav-links li {
    margin-right: 50px;
  }

  .nav-links li i {
    margin-right: 7px;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 40px;

  }

  span:hover {
    color: #ff416c;
    transition: all 0.5s;
  }

  span {
    font-size: 17px;
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      height: 100px;
    }
    .header-content {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .header-logo{
      margin-left: 1rem;
    }
    .menu-toggle {
      margin-right: 1rem;
      display: inline;
      color: #fff;
    }
    .nav-links {
      top: 0;
      left: 0;
      width: 80%;
      position: fixed;
      background-color: #f2f2f2;
      height: 100%;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      z-index: 1000; 
      transition: .5s;
    }
    .sidebar {
      left: -281px;
      transition: 0.5s;
      top: 0;
      width: 280px;
      position: fixed;
    }
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 2rem 0 0 0;
    }
    .nav-links li {
      border-bottom: 2px solid #ececec; 
      padding: 1.5rem 3rem; 
      margin: 0 1px;
    }
    a {
      text-decoration: none;
      color: #262626;
      display: flex;
      align-items: center;
      line-height: 40px;
    }
    span {
      font-size: 19px;
      font-weight: 600;
    }
    li i{
      display: none;
    }
    .user{
      display: none;
    }
  }
  