body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #eff1f7;
}

main {
  display: flex;
  background-color: #eff1f7;
}

.content-wrapper {
  width: 100%;
}
.component-content{
  margin-bottom: 4rem;
}
.footer {
  position: sticky;
  top: 100%;
}
@media screen and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
  main {
    display: block;
  }
  .footer {
    position: static;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    min-height: 100vh;
  }
  main {
    display: block;
  }
  .footer {
    position: static;
  }
}
