body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5;

}

main {
  display: flex;
  align-items: stretch;
  background: -webkit-linear-gradient(right,#5a0825,#1d1b1b,#5a0825,#1d1b1b);
}

.menu-toggle {
  position: absolute;
  top: 30px;
  right: 5px; 
  z-index: 1;
  display: none; 
}

.details{
  flex: 1;
}
.left-menu {
  position: sticky;
  top: 0;
  width: 350px; 
  height: 100vh; 
  background-color: rgba(39, 39, 39, 0.5);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
}

.left-menu::after{
  height: 100%;
}
.left-header {
  text-align: center;
}
.user-img {
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.user-img img {
  width: 150px;
  height: 150px;
}
.name {
  margin-top: 20px;
  color: #ccc;
  font-weight: 600;
}
.left-header p {
  color: #ccc;
  font-size: 18px;
}
ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}
.main-contents {
  color: #ccc;
}
.line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
li {
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 80px;
  text-align: center;
  display: flex;
  align-items: center;
}
li:hover {
  color: rgba(255, 255, 255, 0.1);
}
a {
  text-decoration: none;
}

a:visited {
  color: inherit; 
}
i {
  margin-right: 20px;
}
.left-bottom {
  position: fixed;
  bottom: 20px;
  right: 0;
}
.active{
  border-right: 15px solid rgba(94, 94, 94, 0.7);
}
.active-link{
  border-right: 15px solid rgba(94, 94, 94, 0.7);
}
.fa-lg, .fa-xl{
  color: #ccc
}
@media screen and (max-width: 1024px) {
  main {
    flex-direction: column; 
  }
  .menu-toggle {
    display: block;
}

  .details {
    flex: 1; 
  }
  .left-menu .close {
    display: none;
    
  }
  .left-menu {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .left-header{
    padding-bottom: 20px;
  }
  .user-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-left: 20px;
  }
  .user-img img {
    width: 50px;
    height: 50px;
  }
  .name {
    position: absolute;
    right: 10px; 
    top: 80px; 
    margin: 0; 
}

.rank {
    font-size: 14px;
    position: absolute;
    right: 10px; 
    top: 110px; 
    margin: 0; 
}
  ul {
    margin-top: 30px;
  }

  .main-contents {
    font-size: 14px;
  }

  li {
    padding-left: 2rem;
  }
}

