<section>
  <div class="login-card">
    <div class="form-container signin-form">
      <form #loginForm="ngForm" class="login-form" (ngSubmit)="onLogin()">
        <h2 class="form-title">Giriş Yap</h2>
        <div class="social-container">
          <a href="#" class="social">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="#" class="social">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <div class="form-group">
          <label class="input-icon" for="email">
            <i class="fa-solid fa-user"></i>
          </label>
          <input type="text" [(ngModel)]="login.userNameOrEmail" name="userNameOrEmail" placeholder="Kullanıcı Adı"
            #userNameOrEmail="ngModel" required />
        </div>
        <div class="text-danger" *ngIf="userNameOrEmail.invalid && (userNameOrEmail.touched)">
          <small *ngIf="userNameOrEmail.errors?.['required']">Boş bırakılamaz.</small>
        </div>
        <div class="form-group">
          <label class="input-icon" for="password">
            <i class="fa-solid fa-lock"></i>
          </label>
          <label class="password-eyes" for="password">
            <i class="fa-solid fa-eye-slash fa-xs" *ngIf="hide" (click)="toPassword()"></i>
            <i class="fa-solid fa-eye fa-xs" *ngIf="!hide" (click)="toPassword()"></i>
          </label>
          <input type="password" [(ngModel)]="login.password" name="password" placeholder="Şifre" #password="ngModel"
            [type]="hide ? 'password' : 'text'" placeholder="Şifre" required />
        </div>
        <div class="text-danger" *ngIf="password.invalid && (password.touched)">
          <small *ngIf="password.errors?.['required']">Boş bırakılamaz.</small>
        </div>
        <div class="password-info">
          <a class="signin-forget" href="#">Şifreni mi Unuttun?</a>
        </div>
        <div class="form-group form-button">
          <button type="submit" class="button">Giriş Yap</button>
        </div>
      </form>
    </div>
    <div class="form-container signup-form">
      <form #registerForm="ngForm" class="register-form" (ngSubmit)="onRegister()">
        <h2 class="form-title">Kayıt Ol</h2>
        <div class="social-container">
          <a href="#" class="social">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="#" class="social">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <div class="form-group">
          <label class="input-icon" for="email">
            <i class="fa-solid fa-envelope"></i>
          </label>
          <input type="text" [(ngModel)]="register.email" name="email" placeholder="Email" #email="ngModel" required />
        </div>
        <div class="text-danger" *ngIf="email.invalid && (email.touched)">
          <small *ngIf="email.errors?.['required']">Boş bırakılamaz.</small>
        </div>
        <div class="form-group">
          <label class="input-icon" for="userName">
            <i class="fa-solid fa-user"></i>
          </label>
          <input type="text" [(ngModel)]="register.userName" name="userName" #userName="ngModel"
            placeholder="Kullanıcı Adı" required />
        </div>
        <div class="text-danger" *ngIf="userName.invalid && (userName.touched)">
          <small *ngIf="userName.errors?.['required']">Boş bırakılamaz.</small>
        </div>
        <div class="form-group">
          <label class="input-icon" for="password">
            <i class="fa-solid fa-lock"></i>
          </label>
          <label class="password-eyes" for="password">
            <i class="fa-solid fa-eye-slash fa-xs" *ngIf="hide" (click)="toPassword()"></i>
            <i class="fa-solid fa-eye fa-xs" *ngIf="!hide" (click)="toPassword()"></i>
          </label>
          <input type="password" [(ngModel)]="register.password" name="password" #password="ngModel"
            [type]="hide ? 'password' : 'text'" placeholder="Şifre" required />
        </div>
        <div class="text-danger" *ngIf="password.invalid && (password.touched)">
          <small *ngIf="password.errors?.['required']">Boş bırakılamaz.</small>
        </div>
        <div class="form-group">
          <label class="input-icon" for="phone">
            <i class="fa-solid fa-phone"></i>
          </label>
          <input type="text" [(ngModel)]="register.phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
            placeholder="Telefon Numarası" required pattern="\d{10}"
            title="Telefon numarası 10 rakamdan oluşmalıdır." />
        </div>
        <div class="text-danger" *ngIf="phoneNumber.invalid && (phoneNumber.touched)">
          <small *ngIf="phoneNumber.errors?.['required']">Boş bırakılamaz.</small>
          <small *ngIf="phoneNumber.errors?.['pattern']">Telefon numarası 10 rakamdan oluşmalıdır.</small>
        </div>
        <div class="form-group form-button">
          <button type="submit" class="button">Kayıt Ol</button>
        </div>
      </form>
    </div>
    <div class="overlay-container" [ngClass]="{'slide-left': isForm}">
      <div class="overlay">
        <div class="overlay-panel" [ngClass]="{'overlay-left': isForm, 'overlay-right': !isForm}">
          <ng-template [ngIf]="!isForm">
            <h1>Hoşgeldin!</h1>
            <p>Eğer henüz üye değilseniz, lütfen buraya tıklayarak üye olun.</p>
            <button class="ghost" (click)="toForm()">Kayıt Ol</button>
          </ng-template>
          <ng-template [ngIf]="isForm">
            <h1>Hoşgeldin!</h1>
            <p>Giriş yapmak isterseniz, lütfen buraya tıklayarak hesabınıza erişim sağlayabilirsiniz.</p>
            <button class="ghost" (click)="toForm()">Giriş Yap</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>