<section>
    <form #directorForm="ngForm" (ngSubmit)="create(movieId)">
      <div class="create">
        <div class="card">
          <div class="close">
            <button routerLink="/Admin/Movies-List">X</button>
          </div>
          <div class="create-header">
            <h2>Yönetmen Ekleme</h2>
          </div>
          <div class="create-main">
            <div class="create-contents">
              <div class="label-input">
                <label for="directorNames">Yönetmen Adı</label>
                <input type="text" [(ngModel)]="directorValue" name="directorNames" #directorNames="ngModel" placeholder="Yönetmen adını yazınız"  (keydown.enter)="addDirector($event)" />
              </div>
            </div>
            <div  class="actors-list">
                <ul>
                  <li *ngFor="let director of director">
                    {{director.name}} <i class="fa-solid fa-xmark fa-lg" (click)="removeDirector(director.id)"></i>
                  </li>
                  <li *ngFor="let director of directorName; let i = index">
                    {{director}} <i class="fa-solid fa-xmark fa-lg" (click)="removeCreate(i)"></i>
                  </li>
                </ul>
              </div> 
            <div class="create-button">
                <button type="submit">Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  