<section>
  <form #categoryForm="ngForm">
    <div class="category-list">
      <h1>Kategori Listesi</h1>
      <div class="category-button-container">
        <div class="category-create-button">
          <button (click)="showCreateForm('if')">+ Kategori Ekle</button>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="lg-table">
          <thead>
            <tr>
              <th>Kategori Adı</th>
              <th>Kategori İşlemleri</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of listCategory">
              <td>
                <ng-container *ngIf="editCategoryId !== category.id; else editMode">
                  {{ category.name }}
                </ng-container>
                <ng-template #editMode>
                  <input name="name" type="text" #name="ngModel" [(ngModel)]="model.name"/>
                </ng-template>
              </td>
              <td class="movie-icon">
                <i class="fa-solid fa-pen-to-square fa-lg" (click)="showUpdateForm(category.id)" *ngIf="category.id !== editCategoryId"></i>
                <i class="fa-solid fa-trash fa-lg" (click)="deleteCategory(category.id)" *ngIf="category.id !== editCategoryId"></i>
                <i class="fa-solid fa-check fa-lg" (click)="updateCategory('if', category.id)" *ngIf="category.id === editCategoryId"></i>
                <i class="fa-solid fa-xmark fa-lg" (click)="updateCategory('else', category.id)" *ngIf="category.id === editCategoryId"></i>
              </td>
            </tr>
            <tr *ngIf="showCreateFormFlag">
              <td>
                <input [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Kategori Adı">
              </td>
              <td>
                <i class="fa-solid fa-check fa-lg" (click)="createCategory()"></i>
                <i class="fa-solid fa-xmark fa-lg" (click)="showCreateForm('else')"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>