.category-list h1 {
  font-weight: 800;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  width: 100%; /* Genişliği tam genişlik yaparak hizalamayı sağlar */
}
.table-wrapper{
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.category-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* En sağa hizalama */
  align-items: flex-end;
  margin-bottom: 20px;
}

.category-create-button {
  margin-left: auto; /* Bu stil, "category-create-button" öğesini en sağa itecektir */
}
.has-error {
  border-bottom:5px solid red;
}
.category-create-button button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #949292;
  padding: 0 20px; 
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  line-height: 50px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

input {
  background: transparent;
  color: #fff;
  border: none;
  display: block; /* Blok element olarak ayarlayarak yatayda tam genişlik almasını sağlar */
  margin: 0 auto; /* Otomatik yatay hizalama ile ortalamayı sağlar */
  text-align: center; /* Metni ortalar */
}
input:focus{
  color:#fff;
  outline: none;
}
.category-create-button button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #949292;
  padding: 0 20px; 
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  line-height: 50px; 
  transition: background-color 0.3s ease, color 0.3s ease;
}
    
.category-create-button button:hover {
  background-color: #ccc; 
  color: #fff; 
}
.lg-table {
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  color: #fff;
  table-layout: fixed;
  border-collapse: collapse;
}
.lg-table td, .lg-table th {
  text-align: center;
  padding: 8px;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.lg-table thead th {
  background-color: rgba(1, 19, 9, 0.8);
  white-space: normal;
  font-weight: bold;
  font-size: 1em;
}

.lg-table tr{
  background-color: rgba(94, 94, 94, 0.4);
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s ease;
}
i{
  margin: 0 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .category-list {
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
  .lg-table {
    display: block;
    flex-direction: column; /* Change to display columns */
    font-size: 14px;
    border: 1px solid #4c4c4d;
  }
  .category-list h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .category-search input {
    width: 150px;
    height: 40px;
    line-height: 30px;
    padding: 0 10px;
  }
  .category-create-button button {
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
  }

  .lg-table thead {
    float: none; /* Remove the float */
  }
  table {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .lg-table td,
  .lg-table th {
    padding: 20px 0.625em 20px 0.625em;
    height: auto; /* Adjust height */
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%; /* Full width */
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .lg-table thead th {
    text-align: center;
  }
  .lg-table tbody tr {
    display: table-row;
    border: 1px solid #4c4c4d;
  }
  .lg-table tbody tr:nth-child(odd) {
    background: none;
  }
  .lg-table tr:nth-child(even) {
    background: transparent;
  }
  .lg-table tr td {
    border-right: none; /* Remove right border */
  }
  .lg-table tr td:last-child {
    border-bottom: none;
  }
  .lg-table tbody td {
    display: table-cell; /* Display as table cells */
    text-align: center;
  }

}