.update {
  max-width: 650px;
  margin: 4rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .update {
    padding: 10px; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .update {
    padding-top: 3rem; 
  }
}

