<section>
  <form [formGroup]="updateForm" (ngSubmit)="update(movieId)">
    <div class="update">
      <div class="card">
        <div class="close">
          <button routerLink="/Admin/Movies-List">X</button>
        </div>
        <div class="update-header">
          <h2>Film Güncelleme</h2>
        </div>
        <div class="update-main" *ngIf="movie">
          <div class="update-contents">
            <div class="label-input">
              <label for="filmAdi">Film Adı</label>
              <input type="text"placeholder="Filmin adını yazınız"[(ngModel)]="movie.name"formControlName="Name"/>
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="movie-category">Film Kategorisi</label>
              <div class="custom-select">
                <select class="form-control" [(ngModel)]="movie.categoryId" formControlName="categoryId">
                  <option *ngFor="let category of categoryEnum" [value]="category">
                    {{ categoryDescriptions[category] }}
                  </option>
                </select>
              </div>
            </div>
            <div class="label-input">
              <label for="movie-platform">Film Platformu</label>
              <div class="custom-select">
                <select class="form-control" [(ngModel)]="movie.platformId" formControlName="platformId">
                  <option *ngFor="let platform of platformEnum" [value]="platform">
                    {{ platformDescriptions[platform] }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="yil">Film Yönetmeni</label>
              <input type="text" [(ngModel)]="movie.director" formControlName="director" placeholder="Yönetmenin adını yazınız"/>
              <!-- <div  class="actors-list">
                <ul>
                  <li  id="director-length" *ngFor="let director of model.movieDirectors; let i = index">
                    {{director.name }} <i class="fa-solid fa-xmark fa-lg" (click)="removeDirector(i)"></i>
                  </li>
                </ul>
              </div> -->
            </div>
            <!-- <div class="label-input">
              <label for="yil">Film Oyuncuları</label>
              <input
                type="text"
                [(ngModel)]="actorValue"
                #yourInput
                placeholder="Oyuncuların adını yazınız"
                (keyup.enter)="actorsupdate(actorValue)"
                formControlName="actor"
              />
              <div class="actors-list">
                <ul>
                  <li id="actor-length" *ngFor="let actor of model.movieActors; let i = index">
                    <span>{{ actor.name}}</span> <i class="fa-solid fa-xmark fa-lg" (click)="removeActor(i)"></i>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="date">Film Vizyon Tarihi</label>
              <input  type="date" formControlName="date" [ngModel]="movie.releaseDate | date:'yyyy-MM-dd'"/>
            </div>
            <div class="label-input">
              <label for="time">Film Süresi</label>
              <input type="time" formControlName="time" [ngModel]="movie.movieTime"/>
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="yil">Film Açıklaması</label>
              <textarea placeholder="Film açıklamasını yazınız" formControlName="details" [(ngModel)]="movie.description" tabindex="5"></textarea>
            </div>
          </div>
          <div class="update-button">
            <button type="submit">Filmi Güncelle</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
