<section>
  <form [formGroup]="updateForm" (ngSubmit)="update()">
    <div class="update">
      <div class="card">
        <div class="close">
          <button routerLink="/Admin/Movies-List">X</button>
        </div>
        <div class="update-header">
          <h2>Film Güncelleme</h2>
        </div>
        <div class="update-main" *ngIf="movies">
          <div class="update-contents">
            <div class="label-input">
              <label for="filmAdi">Film Adı</label>
              <input type="text" placeholder="Filmin adını yazınız" [(ngModel)]="movies.name" formControlName="Name" />
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="movie-category">Film Kategorisi</label>
              <div class="custom-select">
                <select class="form-control" [(ngModel)]="movies.categoryName" formControlName="categoryId">
                  <option *ngFor="let category of categoryEnum">
                    {{ categoryDescriptions[category] }}
                  </option>
                </select>
              </div>
            </div>
            <div class="label-input">
              <label for="movie-platform">Film Platformu</label>
              <div class="custom-select">
                <select class="form-control" [(ngModel)]="movies.platformName" formControlName="platformId">
                  <option *ngFor="let platform of platformEnum">{{ platformDescriptions[platform] }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="date">Film Vizyon Tarihi</label>
              <input type="date" formControlName="date" [ngModel]="movies.releaseDate " />
            </div>
            <div class="label-input">
              <label for="time">Film Süresi</label>
              <input type="text" formControlName="time" [ngModel]="movies.movieTime" />
            </div>
          </div>
          <div class="update-contents">
            <div class="label-input">
              <label for="yil">Film Açıklaması</label>
              <textarea placeholder="Film açıklamasını yazınız" formControlName="details"
                [(ngModel)]="movies.description" tabindex="5"></textarea>
            </div>
          </div>
          <div class="update-button">
            <button type="submit">Filmi Güncelle</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>