<nav>
  <div class="navbar-container">
    <div class="header-content">
      <div class="header-logo" routerLink="/filmler">
        <img src="assets/img/common/filmverse.png" />
      </div>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="vizyondakiler">
          <i class="fa-solid fa-film fa-lg"></i>
          <span>Vizyondakiler</span>
        </a>
      </li>
      <li>
        <a routerLink="platformdakiler">
          <i class="fa-solid fa-clapperboard fa-lg"></i>
          <span>Platformdakiler</span>
        </a>
      </li>
      <li>
        <a routerLink="yaklasanlar">
          <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal fa-lg"></i>
          <span>Yaklaşanlar</span>
        </a>
      </li>
      <li>
        <a routerLink="haberler">
          <i class="fa-regular fa-newspaper fa-lg"></i>
          <span>Haberler</span>
        </a>
      </li>
      <li>
        <a routerLink="hakkımızda">
          <i class="fa-solid fa-circle-info fa-lg"></i>
          <span>Hakkımızda</span>
        </a>
      </li>
      <li>
        <a routerLink="iletisim">
          <i class="fa-solid fa-phone-volume fa-lg"></i>
          <span>İletişim</span>
        </a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a routerLink="giris">
          <i class="fa-solid fa-house-user fa-lg"></i>
          <span>Giriş Yap</span>
        </a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a (click)="logout()">
          <i class="fa-solid fa-sign-out-alt fa-lg"></i>
          <span>Çıkış Yap</span>
        </a>
      </li>
    </ul>
  </div>
</nav>