/* Base styles */
.create {
  max-width: 650px;
  margin: 4rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 120%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

input::placeholder {
  color: #ccc;
  font-weight: 600;
}

.create-header {
  text-align: center;
  margin-bottom: 20px;
}

.create-header h2 {
  font-size: 40px;
  font-weight: 800;
  color: #333;
}

.create-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label-input {
  flex: 1;
  margin-right: 10px;
}

.label-input label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #5643CC;
}

.create-input,
.create-select
 {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s;
  outline: none;
  font-weight: 600;
  color: #000;
}

.create-input:focus,
.create-select:focus {
  border-bottom: 2px solid #000;
}

.create-button {
  display: flex;
  justify-content: flex-end;
}
.invalidRed{
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
}
.create-button button {
  display: block;
  padding: 15px;
  font-size: 16px;
  background-color: #5643CC;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 600;
}

.create-button button:hover {
  background-color: #4d32ff;
}

.actors-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.actors-list li {
  border-radius: 20px;
  border: 2px solid #ccc;
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  color: #000;
}

.label-input ul {
  width: 100%;
}

li i {
  padding-right: 5px;
}

.close {
  display: flex;
  justify-content: flex-end;
}

.close button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid #5643CC;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  color: #5643CC;
}

/* Media Queries for responsiveness */

/* For screens smaller than 768px (Mobile) */
@media screen and (max-width: 768px) {
  .create {
    padding: 10px; /* Örnek: Yatay moda uygun bir padding değeri */
  }

  .card {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .create-header h2 {
    font-size: 30px;
  }

  .create-contents {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .custom-select{
    margin-bottom: 10px;
  }
  .custom-input{
    margin-bottom: 10px;
  }
  .label-input {
    margin-right: 0;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  textarea,
  select {
    padding: 5px;
    font-size: 12px;
  }

  .create-button {
    justify-content: center;
  }

  .create-button button {
    padding: 10px;
    font-size: 14px;
  }

  .actors-list li {
    font-size: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .create {
    padding-top: 3rem; 
  }
  .card {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
  }

  .create-header h2 {
    font-size: 30px;
  }

  .create-contents {
    flex-direction: column;
    margin-bottom: 10px;
  }

}

