<section>
  <form [formGroup]="createForm" (ngSubmit)="create()">
    <div class="create">
      <div class="card">
        <div class="close">
          <button routerLink="/Admin/Movies-List">X</button>
        </div>
        <div class="create-header">
          <h2>Film Ekleme</h2>
        </div>
        <div class="create-main">
          <div class="create-contents">
            <div class="label-input">
              <label for="filmAdi">Film Adı</label>
              <input type="text" id="filmAdi" placeholder="Filmin adını yazınız" formControlName="Name"/>
            </div>
          </div>
          <div class="create-contents">
            <div class="label-input">
              <label for="movie-category">Film Kategorisi</label>
              <div class="custom-select">
                <select class="form-control" id="categoryId"  formControlName="categoryId">
                <option *ngFor="let category of categoryEnum" [value]="category">{{ categoryDescriptions[category] }}
                </option>
              </select>
              </div>
            </div>
             <div class="label-input">
              <label for="movie-category">Film Platformu</label>
              <div class="custom-select">
                <select class="form-control" id="platformId" formControlName="platformId">
                <option *ngFor="let platform of platformEnum" [value]="platform">{{ platformDescriptions[platform] }}
                </option>
              </select>
              </div>
            </div> 
          </div>
          <!-- <div class="create-contents">
            <div class="label-input">
              <label for="yil">Film Yönetmeni</label>
              <input type="text" placeholder="Yönetmenin adını yazınız" formControlName="director"/>

            </div>
             <div class="label-input">
              <label for="yil">Film Oyuncuları</label>
              <input
              [(ngModel)]="actorValue"
              type="text"
              placeholder="Oyuncuların adını yazınız"
              (keyup.enter)="actorsCreate(actorValue)"
                formControlName="actor"
              />
              <div  class="actors-list">
                <ul>
                  <li  id="actor-length" *ngFor="let actor of model.actor let i = index">
                    {{actor.name }} <i class="fa-solid fa-xmark fa-lg" (click)="removeActor(i)"></i>
                  </li>
                </ul>
              </div>
          </div>  
          </div>-->
          <div class="create-contents">
            <div class="label-input">
              <label for="date">Film Vizyon Tarihi</label>
              <input  type="date" formControlName="date"/>
            </div>
            <div class="label-input">
              <label for="time">Film Süresi</label>
              <input type="number" formControlName="time"/>
            </div>
          </div>
          <div class="create-contents">
            <div class="label-input">
              <label for="yil">Film Açıklaması</label>
              <textarea placeholder="Film açıklamasını yazınız" tabindex="5" formControlName="detail"></textarea>
            </div>
          </div>
          <div class="create-button">
            <button type="submit">Film Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
