<section>
        <div class="footer-container">
            <div class="info">
                <div class="footer-img">
                    <img src="assets/img/common/filmverse.png" />
                </div>
                <div class="details">
                    <span>En yeni vizyondaki, yaklaşan ve platformdaki filmler hakkında bilgiye ulaşın. Hoşgeldiniz
                        sinema tutkunları! Film dünyasının kalbinde sizinle buluşuyoruz.</span>
                </div>
                <div class="social-container">
                    <a href="#" class="social">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                    <a href="#" class="social">
                        <i class="fa-brands fa-linkedin-in fa-lg"></i>
                    </a>
                    <a href="#" class="social">
                        <i class="fa-brands fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="footer-tablet">
                <div class="footer-contents">
                    <div class="pages">
                        <div class="header">
                            <h2>Hızlı Erişim</h2>
                        </div>
                        <ul>
                            <li><a routerLink="/Filmler"><span>Anasayfa</span></a></li>
                            <li><a routerLink="Vizyondakiler"><span>Vizyondakiler</span></a></li>
                            <li><a routerLink="Platformdakiler"><span>Platformdakiler</span></a></li>
                            <li><a routerLink="Yaklasanlar"><span>Yaklaşanlar</span></a></li>
                            <li><a routerLink="Haberler"><span>Haberler</span></a></li>
                        </ul>
                    </div>
                    <div class="related-links">
                        <div class="header">
                            <h2>İlgili Bağlantılar</h2>
                        </div>
                        <ul>
                            <li><a routerLink="/Filmler"><span>Hakkımızda</span></a></li>
                            <li><a routerLink="Vizyondakiler"><span>İletişim</span></a></li>
                            <li><a routerLink="Platformdakiler"><span>Gizlilik Politikası</span></a></li>
                            <li><a routerLink="Yaklasanlar"><span>Kullanım Koşulları</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="information">
                    <div class="header">
                        <h2>İletişim Bilgileri</h2>
                    </div>
                    <div class="information-info">
                        <i class="fa-solid fa-compass fa-xl"></i>
                        <span>Osmangazi/BURSA</span>
                    </div>
                    <div class="information-info">
                        <i class="fa-solid fa-phone fa-xl"></i>
                        <span>+905378291776</span>
                    </div>
                    <div class="information-info">
                        <i class="fa-solid fa-envelope fa-xl"></i>
                        <span>selahattindindas&#64;outlook.com</span>
                    </div>
                </div>
            </div>
        </div>
</section>