<footer>
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-promotion">
          <img src="assets/img/filmverse.png" />
          <div class="footer-text">
            <p>
              En yeni vizyondaki, yaklaşan ve platformdaki filmler hakkında
              bilgiye ulaşın. Hoş geldiniz film tutkunları! Film dünyasının
              kalbinde sizinle buluşuyoruz.
            </p>
          </div>
          <div class="social-media">
            <a class="circle" href="#"
              ><i class="fa-brands fa-github-alt fa-xl" ></i
            ></a>
            <a class="circle" href="#"
              ><i
                class="fa-brands fa-linkedin-in fa-xl"
                
              ></i
            ></a>
            <a class="circle" href="#"
              ><i class="fa-brands fa-instagram fa-xl" ></i
            ></a>
          </div>
        </div>
        <div class="footer-LinkBlock">
          <span class="title">Hızlı Erişim</span>
          <ul>
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Vizyondakiler</a></li>
            <li><a href="#">Platformdakiler</a></li>
            <li><a href="#">Yaklaşanlar</a></li>
            <li><a href="#">Haberler</a></li>
          </ul>
        </div>
        <div class="footer-LinkBlock">
          <span class="title">İlgili Bağlantılar</span>
          <ul>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">Gizlilik Politikası</a></li>
            <li><a href="#">Kullanım Koşulları</a></li>
          </ul>
        </div>
        <div class="footer-info">
          <span>İletişim Bilgileri</span>
          <div class="info">
            <div class="info-content">
              <i
                class="fa-solid fa-location-dot fa-xl"
                
              ></i>
              <p>Osmangazi/BURSA</p>
            </div>
            <div class="info-content">
              <i
                class="fa-solid fa-mobile-screen-button fa-xl"
                
              ></i>
              <p>+90 537 829 17 76</p>
            </div>
            <div class="info-content">
              <i class="fa-solid fa-envelope fa-xl" ></i>
              <p>selahattindindas@outlook.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>