body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

main{
  display: block;
  min-height: 100%;
  background: -webkit-linear-gradient(right, #5a0825, #1d1b1b, #5a0825, #1d1b1b);
}
.content{
  margin-bottom: 4rem;
}
.footer{
  position: sticky;
  top: 100%;
}
