.login-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login-card {
    display: flex;
    align-items: center; 
    width: 960px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 95px 130px 33px 95px;
    gap: 50px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    width: 290px;
}

.form-title {
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 54px;
}

.validate-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.validate-input input {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.validate-input input:focus {
    outline: none;
    color: #000;
}

.fa-solid {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-left: 35px;
    color: #666;
}

.form-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.form-button button {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border: none;
    transition: all .4s;
}

.password-info {
    padding-top: 12px;
    text-align: center;
}

.forget {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .login-card {
        width: 80%;
        padding: 70px 80px 30px 70px;
    }

    .image {
        width: 40%;
    }

    .login-form {
        width: 50%;
    }

    .form-title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .form-button button {
        font-size: 15px;
        height: 45px;
    }
}

@media (max-width: 767px) {
    .login-card {
        width: 90%;
        padding: 50px 40px 30px 40px;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .image {
        width: 60%;
        margin-bottom: 30px;
    }

    .login-form {
        width: 100%;
    }

    .form-title {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .validate-input input {
        padding: 0 20px 0 50px;
        height: 45px;
    }

    .fa-solid {
        padding-left: 20px;
    }

    .form-button button {
        font-size: 15px;
        height: 45px;
    }

    .password-info {
        padding-top: 10px;
    }
}
