.menu-toggle {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 1;
    display: none;
  }
  .sidebar-close img{
    display: none;
  }
  .left-menu {
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-bottom: 50px;
    position: sticky;
    width: 270px;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s;
    background: #fff;
    box-shadow: 0 0 40px #eff1f7;
}

  
  .left-header {
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
  }
  
  .logo-img img {
    width: 100%;
  }

  .name {
    margin-top: 20px;
    color: #ccc;
    font-weight: 600;
  }
  
  .side-menu-title span {
    font-size: 20px;
    font-weight: 800;
    color: #5643CC;
    padding: 15px 25px 5px 30px;
    display: block;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
  }
  
  .main-contents li a {
    font-size: 16px;
    font-weight: 600;
    color: #676b84;
    padding: 15px 25px 15px 30px;
    transition: .3s;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    background: 0 0;
  }
  
  li {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  li:hover {
    color: rgba(255, 255, 255, 0.1);
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  i {
    margin-right: 20px;
  }
  
  .left-bottom {
    position: fixed;
    bottom: 20px;
    right: 0;
  }
  
  .active span {
    color: #4d32ff;
  }
  
  .fa-lg,
  .fa-xl {
    color: #ccc;
  }
  
  @media screen and (max-width: 768px) {
   
    .menu-toggle {
      display: block;
    }

    .left-menu {
      left: 0;
      width: 80%;
      position: fixed;
      box-shadow: 0 5px 20px rgba(0,0,0,.2);
    }
    .sidebar {
      left: -280px;
      -webkit-transition: .5s;
      transition: .5s;
      top: 0;
      width: 280px;
      background: #fff;
    }
    ul {
      margin-top: 30px;
    }
  
    .main-contents {
      font-size: 14px;
    }
  
    li {
      padding-left: 2rem;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu-toggle {
      display: block;
    }
    .left-menu .close {
      display: none;
    }
    .left-menu {
      left: 0;
      width: 30%;
      position: fixed;
      box-shadow: 0 5px 20px rgba(0,0,0,.2);
    }
    .sidebar {
      left: -280px;
      -webkit-transition: .5s;
      transition: .5s;
      top: 0;
      width: 280px;
      background: #fff;
    }
  }