body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1.5;
  }
  
  main {
    display: flex;
    align-items: stretch;
  }
  
  .menu-toggle {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 1;
    display: none;
  }
  
  .details {
    background-color: #eff1f7;
    flex: 1;
    position: relative;
  }
  
  .left-menu {
    height: 100vh;
    left: 0;
    top: 0;
    padding-bottom: 50px;
    width: 270px;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s;
    background: #fff;
    box-shadow: 0 0 40px #eff1f7;
    z-index: 2;
  }
  
  .left-header {
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
  }
  
  .logo-img img {
    width: 100%;
  }
  
  .name {
    margin-top: 20px;
    color: #ccc;
    font-weight: 600;
  }
  
  .side-menu-title span {
    font-size: 20px;
    font-weight: 800;
    color: #5643CC;
    padding: 15px 25px 5px 30px;
    display: block;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
  }
  
  .main-contents li a {
    font-size: 16px;
    font-weight: 600;
    color: #676b84;
    padding: 15px 25px 15px 30px;
    transition: .3s;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    background: 0 0;
  }
  
  li {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  li:hover {
    color: rgba(255, 255, 255, 0.1);
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  i {
    margin-right: 20px;
  }
  
  .left-bottom {
    position: fixed;
    bottom: 20px;
    right: 0;
  }
  
  .active span {
    color: #4d32ff;
  }
  
  .fa-lg,
  .fa-xl {
    color: #ccc
  }
  
  @media screen and (max-width: 1024px) {
    main {
      flex-direction: column;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .details {
      flex: 1;
    }
  
    .left-menu .close {
      display: none;
  
    }
  
    .left-menu {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
    .left-header {
      padding-bottom: 20px;
    }
  
    .user-img {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin-left: 20px;
    }
  
    .user-img img {
      width: 50px;
      height: 50px;
    }
  
    .name {
      position: absolute;
      right: 10px;
      top: 80px;
      margin: 0;
    }
  
    .rank {
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 110px;
      margin: 0;
    }
  
    ul {
      margin-top: 30px;
    }
  
    .main-contents {
      font-size: 14px;
    }
  
    li {
      padding-left: 2rem;
    }
  }