<section>
    <div class="spinner">
        <ngx-spinner size="large">Sayfa Yükleniyor</ngx-spinner>
      </div>
    <div class="soon-header">
        <h2>Yaklaşan Filmler</h2>
        <div class="soon-search">
            <input type="text" placeholder="Film ara..." [(ngModel)]="filterText" />
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div>
    </div>
    <div class="movie-category">
        <category-filter (categorySelected)="onCategorySelected($event)"></category-filter>
      </div>
    <ul>
        <li *ngFor="let movie of movies | filter: filterText: filterName | categoryFilter:selectedCategory">
            <div class="soon-img">
                <img [src]="movie.movieImages | imageArray:0">
                <div class="overlay">
                    <button class="detail-button" [routerLink]="'/Filmler/Detay/' + movie.id">Film Detayı</button>
                </div>
            </div>
            <div class="soon-details">
                <span class="soon-name">{{movie.name}}</span>
                <p>
                    <i class="fa-regular fa-calendar-days"></i>
                    <span class="soon-date">{{movie.releaseDate | date:'dd/MM/yyyy'}}</span>
                <p>
            </div>
        </li>
    </ul>
</section>