<section>
    <div class="platform">
      <div class="platform-contents">
        <div class="header-name">
          <h1>Platform Listesi</h1>
        </div>
        <div class="column">
          <div class="platform-search-button-container">
            <div class="platform-create-button">
              <button [routerLink]="['Create-Platform']">+ Platform Ekle</button>
            </div>
          </div>
        </div>
        <div class="table-container">
          <table class="container" >
            <thead>
              <tr>
                <th class="platform-name"><h1>Platform Adı</h1></th>
                <th><h1>Platform İşlemleri</h1></th>
              </tr>
            </thead>
            <tbody>
              <tr class="platform-details" *ngFor="let platform of platform | filter: filterText: filterName">
                <td>{{ platform.name }}</td>
                  <td class="platform-icon">
                      <i style="cursor: pointer" class="fa-solid fa-pen-to-square fa-lg update" [routerLink]="['Platform-Edit', platform.id]"></i>
                      <i class="fa-solid fa-trash fa-lg delete" style="cursor: pointer" (click)="deletePlatform(platform.id)"></i>          
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  