<section>
  <div class="platform-list">
    <h1>Platform Listesi</h1>
    <div class="platform-button-container">
      <div class="platform-create-button">
        <button [routerLink]="['Create-Platform']">+ Platform Ekle</button>
      </div>
    </div>
    <div class="table-wrapper">
        <table class="lg-table">
            <thead>
            <tr>
                <th>Platform Adı</th>
                <th>Platform İşlemleri</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let platform of platform">
              <td>{{ platform.name }}</td>
              <td class="movie-icon">
                <i class="fa-solid fa-pen-to-square fa-lg update" [routerLink]="['Platform-Edit', platform.id]"></i>
                <i class="fa-solid fa-trash fa-lg delete" (click)="deletePlatform(platform.id)"></i>          
          </td>
            </tr>
            <tbody>
        </table>
    </div>
  </div>
</section>

