section{
    margin: 0 auto;
    width: 1200px;
    position: relative;
  }
  .movie-details {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  } 
  .banner {
    width: 100%;
    min-height: 560px;
    margin: auto;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .banner img {
    max-width: 100%;
    min-height: 500px;
    margin: auto;
    height: 100%;
    border-radius: 30px;
    box-shadow: 5px 20px 50px #000;
  }
  .movie-details {
    width: 100%;
    align-self: flex-start;
  }
  .movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .movie-details h1 {
    width: 73%;
    padding-bottom: 20px;
  }
  .movie-header h1 {
    color: #ffffff;
    font-weight: bold;
  }
  .movie-info {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .movie-info p {
    font-weight: 700;
    color: rgb(190, 190, 190);
    margin-bottom: 3px;
  }
  .movie-info span {
    font-weight: 500;
    color: rgb(190, 190, 190);
  }
  .movie-area {
    color: #ffffff;
    padding-bottom: 40px;
  }
  .movie-area p {
    font-weight: 700;
    font-size: 20px;
  }
  .movie-area span {
    font-weight: 500;
    font-size: 16px;
  }
  