<section a>
  <div class="movie-details" *ngIf="movies">
    <div class="movie-image">
      <img [src]="movies.movieImages | imageArray:1" />
    </div>
    <div class="movie-content">
      <div class="movie-header">
        <h2>{{movies.name}}</h2>
      </div>
      <div class="movie-direction">
        <div class="movie-left">
          <p>Yönetmen:<span>{{movies.directors | joinArray:', ' : 'name'}}</span></p>
          <p>Oyuncular:<span>{{movies.players | joinArray:', ' : 'name'}}</span></p>
          <p>Kategori:<span>{{movies.categoryName}}</span></p>
          <p>Platform:<span>{{movies.platformName}}</span></p>
          <p>Vizyon Tarihi:<span>{{movies.releaseDate}}</span></p>
          <p>Film Süresi:<span>{{movies.movieTime}} dakika</span></p>
        </div>
        <div class="movie-right">
          <p>Film Açıklama</p>
          <span>{{movies.description}}</span>
        </div>
      </div>
      
    </div>
   </div>
</section>
  