<div class="navbar-contents content-between content-center">
    <div class="navbar-center">
        <button class="button-17" role="button">
          <i class="fa-brands fa-github-alt fa-lg"></i>
          Github Profilim İçin Tıklayınız</button>
        <button class="button-17" role="button">
          <i class="fa-brands fa-linkedin-in fa-lg"></i>
          Linkedin Profilim İçin Tıklayınız</button>
    </div>
    <div class="navbar-right">
      <div class="navbar-profile">
        <img src="assets/img/admin/navbar/user.png">
        <div class="dropdown">
          <button class="btn dropdown-toggle btn-design" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{loggedInUsername}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" type="button" (click)="logout()">
                <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                Oturum Kapat
              </button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>