.navbar-contents {
    background-color: #fff;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-center {
    text-align: center;
    flex: 1; 
}

.button-17 {
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    padding: 2px 24px;
    text-align: center;
    will-change: transform, opacity;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17 i {
    padding-right: 15px;
}
.button-17{
    margin: 0 20px
}
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.navbar-profile {
    display: flex;
    align-items: center;
}
.navbar-profile img{
    width: 60px;
    height: 60px;
    margin-left: 15px;
}
.btn-design{
    font-weight: 800;
    font-size: 16px;
    color: #3c4043;
    border: none;
}
@media (max-width: 768px) {
    .navbar-contents {
      flex-direction: column;
      height: auto;
    }
  
    .navbar-center {
        display: none;
    }
  
    .navbar-right {
      margin: 15px 0;
    }
  
    .navbar-profile {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-profile img {
      width: 50px;
      height: 50px;
      margin: 0; /* Mobil cihazlar için kenar boşluğu kaldırın */
    }
  
    .btn-design {
      font-size: 14px; /* Daha küçük yazı boyutu */
      margin: 10px 0; /* Düğme arasına boşluk ekleyin */
    }
  
    .button-17 {
      margin: 230px 0; /* Düğmeler arasında boşluk ekleyin */
    }
  
    .button-17 i {
      padding-right: 5px; /* İkon ve metin arasındaki boşluğu azaltın */
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-center {
    display: flex;
}
}