<section>
    <div class="about-header">
        <h2>Hakkımızda</h2>
    </div>
    <div class="about-banner">
        <img src="assets/img/ui/about/about_banner.jpg">
    </div>
    <div class="about-main">
        <div class="about-info">
            <div class="about-text">
                <img src="assets/img/common/filmverse.png">
                <p>
                    FilmVerse, 2023 yılında Bursa'da doğmuş bir sinema platformudur. Sinemaseverlerin duygusal bağ
                    kurabileceği, eğlenebileceği ve öğrenebileceği bir ortam yaratmayı amaçlayan bir ekip tarafından
                    kurulmuştur. FilmVerse, her biri tutkuyla sinemaya bağlı ekip üyeleri tarafından yönetilmekte ve
                    geliştirilmektedir. 
                </p>
            </div>
            <div class="about-img">
                <img src="assets/img/ui/about/about_photo.jpg">
            </div>
        </div>
        <div class="about-details">
            <div class="about-text">
                <p>
                    Platformumuz, dünya sinemasının en seçkin yapıtlarını bir araya getirerek geniş
                    bir film koleksiyonu sunar. Kullanıcılar, farklı türlerdeki film çeşitliliğiyle klasiklerden en yeni
                    yapıtlara kadar geniş bir yelpazede keşif yapabilirler. FilmVerse, interaktif özellikleriyle
                    kullanıcıların deneyimlerini kişiselleştirmelerine olanak tanırken, aynı zamanda özel etkinlikler,
                    canlı yayınlar ve derinlemesine içeriklerle sinema dünyasını keşfetmelerine olanak sağlar.
                    FilmVerse'in temelini, sinemaya ve teknolojiye tutkuyla bağlı bir ekip oluşturur. Deneyimli sinema
                    uzmanları, yazılım geliştiricileri ve içerik editörleri, platformu sürekli olarak geliştirirken
                    kullanıcıların en iyi deneyimi yaşaması için çalışır. Gelecekte, FilmVerse, daha geniş bir film
                    çeşitliliği, kullanıcı dostu arayüzler ve kullanıcıları bir araya getirecek özel etkinliklerle
                    sinema tutkunlarını daha da tatmin edecek bir platform olmayıhedefler. Sinema dünyasının büyülü
                    yolculuğuna çıkmak isteyen herkesi FilmVerse ailesine katılmaya davet ediyoruz.
                </p>
            </div>
            <div class="about-img">
                <img src="assets/img/ui/about/about_img.jpeg">
            </div>
        </div>
    </div>
</section>