<section class="news-list">
  <div class="news-title">
    <h2 class="text">Haberler</h2>
  </div>
  <ul class="news-box">
    <li>
        <img class="news-img" src="assets/img/news.jpg">
        <div class="news-details">
            <h3>Atatürk Öldü Sen Nasılsın Güzel Kardeşim</h3>
            <p>Telefon Numaram her zaman asdasdasd asdasdasd asdasd asdasd asdaa</p>
            <div>
                <button class="details-btn">Haberin Devamı</button>
            </div>
        </div>
    </li>
    <li>
        <img class="news-img" src="assets/img/news.jpg">
        <div class="news-details">
            <h3>Atatürk Öldü Sen Nasılsın Güzel Kardeşim</h3>
            <p>Telefon Numaram her zaman asdasdasd asdasdasd asdasd asdasd asdaa</p>
            <span></span>
            <div>
                <button class="details-btn">Haberin Devamı</button>
            </div>
        </div>
    </li>
    <li>
        <img class="news-img" src="assets/img/news.jpg">
        <div class="news-details">
            <h3>Atatürk Öldü Sen Nasılsın Güzel Kardeşim</h3>
            <p>Telefon Numaram </p>
            <span></span>
            <div>
                <button class="details-btn">Haberin Devamı</button>
            </div>
        </div>
    </li>
    <li>
        <img class="news-img" src="assets/img/news.jpg">
        <div class="news-details">
            <h3>Atatürk Öldü Sen Nasılsın Güzel Kardeşim</h3>
            <p>Telefon Numaram her zaman asdasdasd asdasdasd asdasd asdasd asdaa</p>
            <div>
                <button class="details-btn">Haberin Devamı</button>
            </div>
        </div>
    </li>
  </ul>
  
</section>
