<section>
    <div class="news-list">
        <div class="news-header">
            <h2>Haberler</h2>
        </div>
        <div class="news-container">
            <div class="news-card" *ngFor="let news of newsList">
                <div class="news-image">
                    <img [src]="news.imageUrl" alt="news image">
                </div>
                <div class="news-details">
                    <h3>{{ news.title }}</h3>
                    <span>{{ news.description }}</span>
                    <div class="news-button">
                        <button>Devamı</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>