section{
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container{
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
.info{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 4rem;
}
.footer-img{
  max-width: 250px;
  height: auto;
  padding-bottom: 10px;
}
.footer-img img{
  width: 100%;
  cursor: pointer;
}
.details{
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
}
.social-container {
  display: flex;
  justify-content: center;
}

.social-container a {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #DDDDDD;
}
a{
  text-decoration: none;
  color: #fff;
}
.social-container i {
  color: #fff;
}
.footer-tablet{
  display: flex;
}
.footer-contents{
  display: flex;
  justify-content: center;
}
.pages{
  margin-right: 5rem;
}
.header{
  margin-bottom: 20px;
}
.header h2{
  color: #fff;
  font-weight: 800;
  font-size: 22px;
  cursor: default;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  cursor: pointer;
}
li:last-child{
  padding-bottom: 0;
}
.related-links{
  margin-right: 5rem;
}
.information{
  margin-right: 5rem;
}
.information-info{
  padding-bottom: 15px;
}
.information-info i{
  color: #fff;
}
.information-info span{
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
a span{
  transition: all 0.6s; 
}
a span:hover{
  color: #505050;
  transition: all 0.6s;
}
@media screen and (max-width:767px) {
  .footer-container{
    display: block;
  }
  .info{
    width: 100%;
    margin:0;
  }
  .footer-img{
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .details{
    text-align: center;
    padding-bottom: 15px;
  }
  .social-container {
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .header{
    margin: 0;
  }
  .pages{
    margin-right: 15px;
  }
  .related-links{
    margin: 0;
  }
  .footer-tablet{
    display: block;
  }
  .footer-contents{
    margin-bottom: 20px;
  }
  .information{
    margin:0;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1265px) {
  
  .footer{
    width: 100%;
  }
  .footer-container{
    padding: 3rem 1rem;
    display: block;
    justify-content: center;
  }
  .info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .footer-img{
    max-width: 250px;
    height: auto;
    padding: 0;
  }
  .details{
    text-align: center;
  }
  .footer-tablet{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  .information{
    margin-right: 0;
  }
}