<section class="soon">
    <div class="soon-hear">
        <h2 class="text">Yaklaşan Filmler</h2>
    </div>
    <div class="soon-conteiner">
        <ul class="soon-box">
            <li>
                <div class="soon-img">
                    <img src="assets/img/barbie_kucuk.jpg">
                    <div class="overlay">
                        <button class="detail-button">Film Detayı</button>
                    </div>
                </div>
                <div class="soon-details">
                    <span class="soon-name">Barbie</span>
                    <p class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="soon-date">28.03.2023</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="soon-img">
                    <img src="assets/img/barbie_kucuk.jpg">
                    <div class="overlay">
                        <button class="detail-button">Film Detayı</button>
                    </div>
                </div>
                <div class="soon-details">
                    <span class="soon-name">Barbie</span>
                    <p class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="soon-date">28.03.2023</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="soon-img">
                    <img src="assets/img/barbie_kucuk.jpg">
                    <div class="overlay">
                        <button class="detail-button">Film Detayı</button>
                    </div>
                </div>
                <div class="soon-details">
                    <span class="soon-name">Barbie</span>
                    <p class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="soon-date">28.03.2023</span>
                    </p>
                </div>
            </li>
            <li>
                <div class="soon-img">
                    <img src="assets/img/barbie_kucuk.jpg">
                    <div class="overlay">
                        <button class="detail-button">Film Detayı</button>
                    </div>
                </div>
                <div class="soon-details">
                    <span class="soon-name">Barbie</span>
                    <p class="date">
                        <i class="fa-regular fa-calendar-days"></i>
                        <span class="soon-date">28.03.2023</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>