<div class="ascasc">
    <div class="category-container">
        <div class="category-charts">
            <h2>Kategori Dağılım Grafiği</h2>
            <div id="categoryCharts" ></div>
        </div>
    </div>
    <div class="platform-container">
        <div class="platform-charts">
            <h2>Platform Dağılım Grafiği</h2>
            <div id="platformCharts"></div>
        </div>
    </div>
    <div class="date-container">
        <div class="date-charts">
            <h2>Film Dağılım Grafiği</h2>
            <div id="dateCharts"></div>
        </div>
    </div>
</div>
