<section>
    <form [formGroup]="updateForm" (ngSubmit)="update(id)">
      <div class="update">
        <div class="card">
          <div class="close">
            <button routerLink="/Admin/Class-List">X</button>
          </div>
          <div class="update-header">
            <h2>Platform Güncelleme</h2>
          </div>
          <div class="update-main" *ngIf="platforms">
            <div class="update-contents">
              <div class="label-input">
                <label for="platformName">Platform Adı</label>
                <input type="text" placeholder="Platform adını yazınız" [(ngModel)]="platforms.name" formControlName="Name" />
              </div>
            </div>
            <div class="update-button">
              <button type="submit">Platform Güncelle</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  