<section>
  <div class="category-list">
    <h1>Kategori Listesi</h1>
    <div class="category-button-container">
      <div class="category-create-button">
        <button [routerLink]="['Create-Category']">+ Kategori Ekle</button>
      </div>
    </div>
    <div class="table-wrapper">
        <table class="lg-table">
            <thead>
            <tr>
                <th>Kategori Adı</th>
                <th>Pategori İşlemleri</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of category">
              <td>{{ category.name }}</td>
              <td class="movie-icon">
                <i class="fa-solid fa-pen-to-square fa-lg update" [routerLink]="['Category-Edit', category.id]"></i>
                <i class="fa-solid fa-trash fa-lg delete" (click)="deleteCategory(category.id)"></i>            
          </td>
            </tr>
            <tbody>
        </table>
    </div>
  </div>
</section>

