.row {
    margin: 2rem 3rem;
}

.col {
    margin: 0 70px;
}

@media (max-width: 768px) {
    .row {
        margin: 0px 0;
        max-width: 100%;
    }
    
    .col {
        margin: 0 auto;
    }
}
