.row {
    margin: 10rem auto;
    max-width: 1300px; /* veya istediğiniz bir maksimum genişlik değeri */
}

.col {
    margin: 0 70px;
}

@media (max-width: 768px) {
    .row {
        margin: 0px 0;
        max-width: 100%;
    }
    
    .col {
        margin: 0 auto;
    }
}
