<section>
    <form [formGroup]="createForm" (ngSubmit)="create()">
      <div class="create">
        <div class="card">
          <div class="close">
           
          </div>
          <div class="create-header">
            <h2>Yönetmen Ekleme</h2>
          </div>
          <div class="create-main">
            <div class="create-contents">
                <div class="label-input">
                  <label for="movie-category">Film Seç</label>
                  <div class="custom-select">
                    <select class="form-control" formControlName="id">
                    <option *ngFor="let movie of movies" [value]="movie.id">{{ movie.name }}
                    </option>
                  </select>
                  </div>
                </div>
            </div>
            <div class="create-contents">
              <div class="label-input">
                <label for="directorNames">Yönetmen Adı</label>
                <input type="text" placeholder="Yönetmen adını yazınız" formControlName="Name" (keydown.enter)="directorsCreate(directorValue)"/>
              </div>
            </div>
            <div  class="actors-list">
                <ul>
                  <li  id="director-length" *ngFor="let director of model.directorNames; let i = index">
                    {{director }} <i class="fa-solid fa-xmark fa-lg" (click)="removeDirector(i)"></i>
                  </li>
                </ul>
              </div> 
            <div class="create-button">
              <button type="submit">Yönetmen Ekle</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  