
.upload-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-header {
  color: #fff;
  margin-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.upload-header h1{
  font-size: 40px;
  font-weight: 800;
  color: #0e0d0d;
}
.upload-container {
  background-color: #fdfdfd;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  width: 40rem;
  padding: 0 0 50px 0;
  
}

.upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  border: 3px dashed #2ea57d; 
  border-radius: 40px; 
  margin-bottom: 2rem;
  
}

.upload-icon img {
  width: 80px;
  height: 80px;
  margin-top: 2rem;
}

.upload-content {
  text-align: center;
  margin: 1rem 0;
}
.upload-files-text{
  color:#2ea57d;
  cursor: pointer;
  font-weight: 800;
}
.upload-message{
  color: #000000;
  font-weight: 700;
}
label{
  font-size: 20px;
}
.upload-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.upload-button {
  background-color: #2ea57d;
  color: #f7fff7;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 7.5px 50px;
  cursor: pointer;
}
.image-preview{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-preview img{
  width: 250px;
  height: 200px;
}
.table {
  margin: 0 auto;
  width: max-content;
  margin-bottom: 2rem;
}

thead, tbody {
  text-align: center;
}

td {
  vertical-align: middle;
  padding: 10px 20px;

}
.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.images {
  border: 1px solid #ccc;
  padding: 10px 10px 0 10px; 
  text-align: center;
  position: relative;
}

.images img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

p {
  margin-top: 10px;
}

.images i {
  position: absolute;
  top: 0; 
  right: -5px;
  cursor: pointer;
}
.upload-cancel {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.upload-cancel i {
  color:#1d5e48
}

.upload-cancel button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 4px solid #1d5e48;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 800;
  color: #1d5e48;
}
@media (max-width: 767px) {
  .upload-container {
      background-color: transparent;
      background-color: #fff;
      box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      width: 90%; 
      max-width: 400px; 
      margin: 0 auto; 
      padding: 2rem 0;
      margin-bottom: 3rem;
  }
  
  .upload-area {
      
      color:#0e0d0d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20px; 
      border: 3px dashed #2ea57d;
      border-radius: 20px; 
      margin-bottom: 1rem;
  }
  
  .upload-icon img {
      width: 60px;
      height: 60px;
      margin-top: 1rem;
  }
  
  .upload-content {
      text-align: center;
      margin: 0.5rem 0;
  }
  
  .upload-files-text {
      font-size: 16px;
  }
  
  label {
      font-size: 16px;
  }
  
  .upload-submit {
      margin-bottom: 10px;
  }
  
  .upload-button {
      padding: 5px 20px;
  }

  .table td, th{
      padding: 10px; 
      height: auto; 
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      font-size: 14px;
      text-overflow: ellipsis;
  }

}

