<form #categoryForm="ngForm">
    <table>
      <tr>
        <td><label for="name">Adınız:</label></td>
        <td><input type="text" id="name" name="name" [(ngModel)]="userData.name" required minlength="5" #name="ngModel"></td>
      </tr>
      <tr>
        <td>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
            <small *ngIf="name.errors?.['required']">Boş bırakılamaz.</small>
            <small *ngIf="name.errors?.['minlength']">En az 5 karakter olmalıdır.</small>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="email">E-posta Adresiniz:</label></td>
        <td><input type="email" id="email" name="email" [(ngModel)]="userData.email" required #email="ngModel"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <small *ngIf="email.errors?.['required']">Boş bırakılamaz.</small>
            <small *ngIf="email.errors?.['minlength']">En az 5 karakter olmalıdır.</small>
          </div>
        </td>
      </tr>
    </table>
  
    <button type="submit">Gönder</button>
  </form>
  