.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-container {
  border: 2px dashed #ccc;
  padding: 500px;
  text-align: center;
  cursor: pointer;
}

.drop-container.dragging {
  border-color: #740b0b;
}

input[type="file"] {
  display: none;
}

label {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
